/* CSS reset */
*, *::after, *::before {
    -webkit-user-select: none;
    user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    margin: 0%;
    padding: 0%;
}

body {
    /* background-color: rgb(241, 236, 241); */
    background-color: #DDEBEC;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100;
    margin-top: 10px;
    padding: 0 20px;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 3px 5px;
    padding: 2px;
    align-content: center;
}

.software-name {
    text-align: center;
    color: rgb(32 175 116);
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
}

.center-align {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.output{
    width: 98%;
    height: 100%;
    border-radius: 7px;
    border: 1.85px solid goldenrod;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    text-align: center;
    justify-items: center;
    font-size: 1rem;
    padding: 5px;
    font-family: 'Baloo Tamma 2';
    display: flex;
    flex-direction: column;
}

.card-content{
    margin: auto;
    font-weight: bold;
    padding-top: 5px;
}

.paragraph{
    padding: 5px 2px;
    font-size: 1rem;
    text-align:justify;
}

.brand{
    color: goldenrod;
    font-weight: bold;
}

.developer-img{
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 2px;
    align-content: center;
    border-radius: 100px;
}